* {
    font-family: "Roboto", monospace, serif;
}

html, body {
    margin: 0;
}

#main {
    display: grid;
    height: 100vh;
    grid-template-rows: 175px repeat(3, 1fr);
    grid-template-columns: 300px repeat(3, 1fr);
    grid-template-areas: 
    "side header header header"
    "side content content content"
    "side content content content"
    "side content content content";
}

.container {
    padding: 10px;
}

#side {
    grid-area: side;
    display: grid;
    fill: white;
    color: white;
    font-weight: 600;
    background-color: dodgerblue;
    row-gap: 60px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
    grid-template-rows: repeat(3, min-content);
}

#header {
    grid-area: header;
}

#content {
    grid-area: content;
}

#logo {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 10px;
    align-items: center;
}

.nav {
    display: grid;
    padding-left: 10px;
    font-size: 20px;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}

#header {
    display: grid;
    padding-left: 30px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 40%;
}

.header-container {
    display: grid;
}

#search-container {
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    align-items: center;
}

.header-container > svg {
    width: 25px;
}

#profile-container > img {
    width: 50px;
}

#profile-container {
    justify-content: end;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    column-gap: 30px;
    grid-template-columns: repeat(3, min-content);
    margin-right: 30px;
}

input {
    height: 30px;
    background-color: #E0E0F0;
    border-radius: 15px;
    border: none;
}