* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", monospace, serif;
}

body {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-rows: 160px repeat(3, 1fr);
    grid-template-columns: 300px repeat(3, 1fr);
    grid-template-areas: 
    "side header header header"
    "side content content content"
    "side content content content"
    "side content content content";
}

.container {
    padding: 10px;
}

#side {
    z-index: 2;
    grid-area: side;
    display: grid;
    fill: white;
    color: white;
    font-weight: 600;
    background-color: dodgerblue;
    row-gap: 60px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    grid-template-rows: repeat(3, min-content);
}

#header {
    z-index: 1;
    grid-area: header;
    display: grid;
    padding-left: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    grid-template-rows: 40% 60%;
    grid-template-columns: 60% 40%;
}

#content {
    grid-area: content;
    background-color: #E0E0F0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#logo {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 10px;
    align-items: center;
}

.nav {
    display: grid;
    padding-left: 10px;
    font-size: 20px;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}

.header-container {
    display: grid;
}

#search-container {
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    align-items: center;
}

.header-container > svg {
    width: 25px;
}

#profile-container > img {
    width: 50px;
}

#greet-container > img {
    width: 70px;
}

#profile-container {
    justify-content: end;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    column-gap: 30px;
    grid-template-columns: repeat(3, min-content);
    margin-right: 30px;
}

input {
    height: 30px;
    background-color: #E0E0F0;
    border-radius: 15px;
    border: none;
}

#greet-container {
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    column-gap: 20px;
    grid-template-columns: min-content 1fr;
}

#buttons-container {
    align-items: center;
    justify-content: end;
    margin-right: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(3, minmax(60px, 100px));
}

button {
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    border: none;
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

#posts {
    display: grid;
    justify-items: center;
    grid-template-rows: min-content repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

h3 {
    font-size: 22px;
    width: 100%;
    font-weight: 600;
}

#posts > h3 {
    grid-column: span 2;
}

#secondary-posts {
    display: grid;
    grid-template-rows: 1fr min-content;
    row-gap: 20px;
}

#announcements, #trending{
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 20px;
}

.post, #announcements-posts, #trending-posts {
    display: grid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.post {
    grid-template-rows: 1fr 60px;
    min-width: 250px;
    padding: 40px 20px 0 20px;
    border-left: 8px solid #F7B718;
}

.post > div > h4 {
    margin-bottom: 5px;
}

.post > div > p {
    font-size: 15px;
    color: gray;
}

.icons-container {
    margin-top: 10px;
    margin-right: 20px;
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 25px);
    column-gap: 20px;
}

#announcements-posts {
    padding: 25px;
    grid-template-rows: repeat(3, 1fr);
}

.announcement {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.announcement > div > h4 {
    margin-bottom: 3px;
    font-size: 14px;
}

.announcement > div > p {
    font-size: 13px;
    color: gray;
}

hr {
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}